@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @import 'iglesia.css'; */

@import 'swiper.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
.container {
    @apply max-w-7xl mx-auto px-2;
}

@media (min-width: 640px) {
    .container {
        @apply px-6;
    }
}

@media (min-width: 1024px) {
    .container {
        @apply px-8;
    }
}

.carrucel {
    @apply relative flex rounded-lg shadow-xl mb-4 h-56 z-0;
}

.btn-edit {
    @apply inline-flex items-center justify-center px-2 py-2 bg-blue-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:ring focus:ring-red-200 active:bg-blue-600 disabled:opacity-25 transition;
}

h1 {
    @apply pb-6 text-3xl font-bold;
}

p {
    @apply leading-tight mb-3;
}

label {
    @apply block font-medium text-sm text-gray-700;
}

.input {
    @apply w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm;
}
/* tr>th{
    @apply text-left text-xs font-medium text-gray-500;
}
tr>td{
    @apply text-xl;
} */

/* mail */
.header {
    height: 12rem/* 192px */;
    --tw-bg-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
    display: flex;
    justify-content: center;
    align-items: center;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-left: 1rem/* 16px */;
    margin-right: 1rem/* 16px */;
    /* @apply h-48 bg-blue-600 flex justify-center items-center shadow-lg rounded-b-lg mx-4; */
}
.header-h1 {
    font-size: 3.75rem/* 60px */;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    margin-left: auto;
    margin-right: auto;
    /* @apply text-6xl text-white mx-auto; */
}
.main {
    height: 20rem/* 320px */;
    --tw-bg-opacity: 1;
    background-color: rgba(156, 163, 175, var(--tw-bg-opacity));
    width: 100%;
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: rgba(29, 78, 216, var(--tw-border-opacity));
    opacity: 0.5;
    /* @apply h-80 bg-gray-400 w-full border-l-4 border-r-4 border-blue-700 opacity-50; */
}
.main.body {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem/* 12px */;
    place-content: center;

    /* @apply grid grid-cols-1 gap-3 place-content-center; */
}